# Python bytecode:
*.py[co]
__pycache__

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.sqlite3

# Virtual environment
.venv
venv/
venv2/
.env
#ta-lib
ta-lib/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#nodeJS
node_modules
dist
dist-ssr
*.local

# txt
COMPRA*.txt
VENDA*.txt


